# OS / IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*.local

# Node/Frontend
node_modules/
dist/
build/

# Docker
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
